<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Education</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<div id="introBubble" class="rounded_panel txt_lightgrey">

					{% for edu in site.education %}
						<div>
								<a href="#" class="timeline-content"  data-toggle="modal" data-target="#{{edu.school | replace: '.', '' | replace: ' ', ''}}-{{edu.level | replace: '.', '' | replace: ' ', '' | replace: '(', '' | replace: ')', ''}}">
										<div class="inner-content">
												<h3 class="title">{{edu.level}}</h3>
                                                <span class="year">{{edu.date}}</span>
												<h5>{{edu.subject}}</h5>
										</div>
								</a>
						</div>
					{% endfor %}
			</div>


			<!-- Modals -->
			{% for role in site.roles %}
				<div class="modal fade" id="{{education.title | replace: ' ', '_'}}-{{education.description| replace: ' ', '_'}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">{{role.title}} - {{role.employer}}</h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{{role.description}}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
		<br>
	</div>
</div>
